<div class="corps">
  <div class="text-center">
    <h1>Calendrier</h1>
  </div>


      <div class= " justify-content d-flex">
        <%= link_to "Prendre un rdv", new_admin_meet_path, class: "btn
        btn-primary ml-5 mr-5 w-50", id: "take" %>
        <%= link_to "Ajouter une indisponibilité", new_admin_my_unavailability_path,  class: "btn
        btn-warning ml-5 mr-5 w-50", id: "cancel" %>
      </div>



</div>
