$main:#8b00e2;
$accent: #086AD0;
@import url(https://fonts.googleapis.com/css?family=Roboto:300,100);
body {
	background: linear-gradient(to bottom, lighten($main, 30), $main) no-repeat;
	padding-top: 8vh;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-family: "Roboto", sans-serif;
	flex-direction: column;
	overflow: auto;
}

h1 {
	color: rgba(255, 255, 255, 0.7);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 7px;
	text-align: center;
	font-size: 3.3em;
	margin: 0;
	white-space: nowrap;
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	& span {
		padding: 0 0.3em;
	}
	transition:flex-direction 800ms;
}

.container {
	//background: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 80%;
	flex-direction: column;
}

.button {
	background: rgba(255, 255, 255, 1);
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 90%;
	border-radius: 50px;
	text-align: center;
	height: auto;
	text-transform: uppercase;
	padding: 2vh 3em;
  margin: 1em;
	transform-origin: 50 100;
	font-size: 18px;
	transition: background 300ms, color 300ms, box-shadow 300ms, transform 300ms;
	box-shadow: 0 0 15px -15px #000;
	cursor: pointer;
}

#button_all:hover {
	background: lighten($accent, 15);
	color: #fff;
	box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.4);
	transform: scale(1.05);
}

.button p {
	font-size: 1.5em;
	font-weight: 300;
}

.fa {
	font-size: 4em;

}
#annuler:hover {
	background: lighten(#F5A431, 15);
	color: #D5323A;
	font-weight: bold;
	box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.4);
	transform: scale(1.15);
	border-radius: 30px;
	transition: background 300ms, color 300ms, box-shadow 300ms, transform 300ms;

}
#prendre:hover {
	background: lighten(#29AD29, 15);
	color: $accent;
	box-shadow: 0px 30px 30px -25px rgba(0, 0, 0, 0.4);
	font-weight: bold;
	transform: scale(1.15);
	border-radius: 30px;
	transition: background 300ms, color 300ms, box-shadow 300ms, transform 300ms;

}

.corps {
	width:70%;
	margin:auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}



@media screen and (max-width:900px) {
	container {
		flex-direction: column;
	}
	.button {
		width: 100%;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		& p {
			padding: 0 0.5em;
		}
		margin-bottom:0.5em;
	}
	h1 {
		flex-direction: row-reverse;
	}

}
