#bg{

  left:0;
  margin-top:0;
  width:100%;
  height:22%;
background: #38a8d1;
background: -moz-linear-gradient(top,  #38a8d1 0%, #34bc9a 36%, #34bc9a 57%, #B754F5 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#38a8d1), color-stop(36%,#34bc9a), color-stop(57%,#34bc9a), color-stop(100%,#B754F5));
background: -webkit-linear-gradient(top,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#B754F5 100%);
background: -o-linear-gradient(top,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#B754F5 100%);
background: -ms-linear-gradient(top,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#B754F5 100%);
background: linear-gradient(to bottom,  #38a8d1 0%,#34bc9a 36%,#34bc9a 57%,#B754F5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#38a8d1', endColorstr='#B754F5',GradientType=0 );
}

section{
  position:fixed;
  width:1200px;
  margin-left:350px;
  top:0px;



}
nav{
  width:100%;

}
nav ul li{
  display:inline-block;
  list-style:none;
  width:400px;
  text-align:center;
  font-family:Helvetica, sans-serif;
  border: 1px dashed rgba(255,255,255, 0);
  color:#fff;
  padding:10px 0 10px 0;
  margin:-1px -5px -1px -1px;

}
nav ul li:hover{
  /*border:1px dashed #fff;*/
  background:#C872FC;
}
nav ul{
  border: 1px solid #fff;
  position:fixed;
  width:100%;
  padding:0;
  right: 5px;
  top: 50px;
  z-index:100;
}
nav div{
  position:absolute;
  left:0;
  top:16px;
  background: #fff;
  width:400px;
  height:40px;
  z-index:99;
}
.active{
  color: #fff;
}
