<div class="text-center">
  <h1>Calendrier</h1>
</div>
<container>
  <%= link_to "Prendre un rdv", new_meet_path, class: "btn btn-primary text-center" %>

      <% @meets.each do |meet| %>
        <div class="button" id="button_all">
            <h2 class="text-center"><%= meet.date %></h2>

              <% if meet.user == current_user %>
              <%= link_to "Details", meet_path(meet.id), class: "btn btn-primary text-center" %>
              <% end %>
          </div>
        <% end %>
  </container>
