
<h1><span>Mes</span><span>rendez-vous</span></h1>
  <%= link_to "Prendre un autre rdv", new_meet_path, class: "btn btn-primary text-center" %>
  <container>

      <% @meets.each do |meet| %>
      <%= link_to meet_path(meet.id) do %>
    	<div class="button">
    		<p><%= meet.date %></p>
    	</div>
        <% end %>
      <% end %>


  </container>
