<div class="text-center">
  <h1>Mon rendez-vous du</h1>
</div>
<container>

  <div class="button">
    <p><%= @meet.date %></p>
    <%= link_to "Annuler", meet_path(@meet.id), method: :delete, class: "btn
    btn-danger", id: "annuler", data: { confirm: 'Souhaitez vous vraiment annuler?' } %>
  </div>


</container>
