
<div class="corps">
  <h1>Mes indisponibilités</h1>
  <div class="text-center">
    <%= link_to "Ajouter une indisponibilité", new_admin_my_unavailability_path, class: "btn btn-warning mt-4 mb-3 w-30 text-center", id: "cancel" %>
  </div>
  <h3 class="text-center"> Vous ne pourrez pas être là durant la période du :</h3>
  <% @meets.each do |meet| %>
    <% if !meet.reason.nil?%>
      <div class="button w-50 mx-auto">
      <%= link_to admin_my_unavailability_path(meet.id), class:"bookings" do %>
            <h4 class="text-center">
              <%= meet.date %>
            </h4>
            <p class="text-center"> <%= meet.reason%> </p>
      </div>
      <% end %>
    <% end %>
  <% end %>
</div>
