<div class="corps">

    <h1>Indisponible du</h1>
      <%= simple_form_for @meet, url: admin_my_unavailabilities_path do |f| %>

        <%= f.input :reason %>
        <%= f.input :date%>
        <%= f.button :submit, "Ajouter une indisponibilité", class: "btn btn-warning mt-4 mb-3 w-30 text-center", id: "cancel" %>

      <% end %>

</div>
